#textInput {
    border: none;
    border-bottom: 3px solid aqua;
}

#buttonInput {
    background-color: #7ff3e0;
}

.userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}
.userText span {
    background-color: #009688;
    padding: 10px;
    border-radius: 2px;
}
.botText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}
.botText span {
    background-color: #EF5350;
    padding: 10px;
    border-radius: 2px;
}

.jumbotron {
    background-color: #7ff3e0;
}

 div.terms{
    display:block;

    /*set the div in the bottom right corner*/
    position:fixed;
    bottom:0;
    right:0;
    width:100%;

    /*give it some background and border*/
    background:#eee;
    border:1px solid #ddd;
  }