<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talk Bot</title>
    <?-- Center the page content vertically and horizontally -->
    <style>
        .center {
            text-align: center
        }
        body {
            background-color: #7ff3e0;
        }
    </style>
</head>

<?-- Welcome message -->
<body>

    <div class="center">
        <h1>Welcome to the Talk Bot Home Page</h1>
        <p>
            This is the home page for the Talk Bot.
        </p>
    </div>

    <div class="center">
        <?-- Botton to go to the Talk Bot page -->
        <a href="bot">
            <button>Talk Bot</button>
        </a>
    </div>

<body>

</html>